# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
/build/
/coverage/
.pub-cache/
.pub/
**/doc/api/
**/ios/Flutter/.last_build_id
app.*.symbols
app.*.map.json
**/*.g.dart
**/*.freezed.dart

# Native build artifacts
android/.gradle/
android/local.properties
/android/app/debug
/android/app/profile
/android/app/release
ios/Pods/
ios/.symlinks/
windows/flutter/ephemeral/
macos/Flutter/ephemeral/

# Misc
*.class
*.swp
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IDE / OS
.idea/
.vscode/
*.iml
*.ipr
*.iws
.DS_Store
Thumbs.db

# Data / secrets
*.log
